img {
  height: 60px;
}

#head-bar {
  background-color: #2a3038;
  display: flex;
  align-items: center;
  height: 60px;
}

#logo {
  height: 60px;
}

#iconrick {
  margin-left: 10px;
}

button {
  background-color: #2a3038;
  color: #a0a0a0;
  border: none;
  font-size: 15px;
  padding: 7px;
  float: right;
  border-radius: 5px;
  margin: 10px;
}

button:hover {
  color: white;
}

#searchbar {
  border: none;
  margin-left: 30px;
}

#searchbar input {
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  font-weight: 400;
  background-color: #3b4048;
}

#searchbar input:focus {
  outline: none;
}

#searchbar input::placeholder {
  font-weight: 400;
  color: #a0a0a0;
  background: url("../../assets/img/search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0px;
}

#signupbutton {
  float: right;
  background-color: #0d93f2;
  color: white;
  margin-right: 30px;
}

#spacer {
  flex-grow: 1;
}