<div class="filter-window">
  <h1>Filter Characters</h1>
  <div class="windows">
    <div class="alive-window">
      <div>Alive</div>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="thistatus">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="species-window">
      <nav>
        <div class="title-bar">
          <div class="title-species">Species</div>
          <button class="dropdown-button" (click)="toggleSpecies()" [ngClass]="{'pressed': showSpecies}"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z" />
            </svg>
          </button>
        </div>
        <div *ngIf="showSpecies" class="species">
          <div class="checkbox-wrapper-1 dropdown-list" *ngFor="let specie of species">
            <input id="example-{{specie}}" class="substituted" type="checkbox" (click)="setSpecies($event, specie)" [(ngModel)]="checkedSpecies[specie]" />
            <label for="example-{{specie}}">{{specie}}</label>
          </div>
        </div>
      </nav>
    </div>
    <div class="species-window">
      <nav>
        <div class="title-bar">
          <div class="title-species">Gender</div>
          <button class="dropdown-button" (click)="toggleGender()" [ngClass]="{'pressed': showGender}"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z" />
            </svg>
          </button>
        </div>
        <div *ngIf="showGender" class="species">
          <div class="checkbox-wrapper-1 dropdown-list" *ngFor="let gender of genders">
            <input id="example-{{gender}}" class="substituted" type="checkbox" (click)="setGenders($event, gender)" [(ngModel)]="checkedGender[gender]" />
            <label for="example-{{gender}}">{{gender}}</label>
          </div>
        </div>
      </nav>
    </div>
    <div class="search-window">
      <div class="search-bar">
        <input type="text" placeholder="Search name" [(ngModel)]="name" />
      </div>
    </div>
    <div>
      <button class="filter-button" (click)="filterSpecies()"><span>Filter</span></button>
    </div>
    <div>
      <button class="filter-button" (click)="clear()"><span>Clear</span></button>
    </div>
  </div>
</div>
<div class="found-characters">
  <div *ngIf="filteredCharacters.length > 1" class="results">
    <h1>{{results}} Characters</h1>
  </div>
  <div *ngIf="filteredCharacters.length === 1" class="results">
    <h1>{{results}} Character</h1>
  </div>
  <div *ngIf="filteredCharacters.length === 0" class="results">
    <h1>No characters found</h1>
  </div>
  <div class="results-window">
    <div *ngFor="let char of filteredCharacters" class="result-character">
      <div class="img-container">
        <img src="{{char.image}}">
      </div>
      <ul class="info">
        <li><a><i class="fa status">{{char.status}}</i></a></li>
        <li><a><i class="fa gender">{{char.gender}}</i></a></li>
        <li><a><i class="fa type">{{char.type}}</i></a></li>
        <li><a><i class="fa origin">{{char.origin?.name}}</i></a></li>
        <li><a><i class="fa location">{{char.location?.name}}</i></a></li>
        <li><a><i class="fa episodes">{{char.episode?.length}} episodes</i></a></li>
      </ul>
      <div class="char-info">
        <h2>{{char.name}}</h2>
        <span>{{char.species}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="results > 20" class="change-page-filter">
    <button (click)="changePage('prev')" *ngIf="info[1] != ''" class="preview">Preview</button>
    <button (click)="changePage('next')" *ngIf="info[0] != ''" class="next">Next</button>
  </div>
</div>