.filter-window {
  padding: 50px;
  background-color: #FBF5F3;
}

.filter-window h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

.filter-item div {
  font-size: 25px;
  margin-bottom: 10px;
}

.windows {
  display: flex;
}

a {
  text-decoration: none;
  color: black;

}

.alive-window {
  width: 200px;
  height: 50px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-bottom: 40px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alive-window div {
  font-size: 20px;
}

.species-window {
  width: 200px;
  height: 50px;
  background-color: #ededed;
}

.title-species {
  font-size: 20px;
  font-weight: 400;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
}

.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-1 {
  margin-bottom: 5px;
}

.checkbox-wrapper-1 [type=checkbox].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-wrapper-1 [type=checkbox].substituted+label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}

.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled+label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked+label:before {
  background-color: #3B99FC;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled+label:active:before {
  background-color: #0a7ffb;
  color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:disabled+label:before {
  opacity: 0.5;
}

.dropdown-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.species {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 200px;
  margin-top: 10px;
  z-index: 7;
  position: relative;
}

.species label {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-list label:hover {
  background-color: #d1d0d02e;

}

.pressed {
  rotate: 90deg;
}

.search-window {
  width: 200px;
  height: 50px;
  background-color: #ededed;
  display: flex;
  align-items: center;
}

.search-window input {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
}

.search-window input:focus {
  outline: none;
  border-bottom: 1px solid #ccc;
}

.filter-button {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  height: 50px;
  width: 150px;
}

.filter-button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.filter-button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.filter-button:after {
  background-color: #FFFFFF;
}

.filter-button span {
  position: relative;
}

.found-characters {
  background-color: #FBF5F3;
  border: 1px solid #ccc;
}

.results {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.results h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding: 10px;
}

.results-window {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-character {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  margin: 20px;
}

.result-character:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.img-container {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.result-character:hover .img-container {
  transform: translateY(-50px);
}

.img-container>img {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.result-character:hover>.img-container>img {
  opacity: 0.5;
}

.info {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
  width: 190px;
}

.info>li {
  list-style: none;
}

.info>li>a {
  display: block;
  text-align: center;
  color: #ffffff;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.3s ease-out;
}

.result-character:hover>.info>li>a {
  transform: translateY(0);
  opacity: 1;
}

.info>li>a>.fa {
  font-size: 15px;
  transition: transform 0.3s ease-out;
}

.info>li>a:hover>.fa {
  transform: rotateY(360deg);
}

.char-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  line-height: 32px;
}

.char-info>h2 {
  padding: 0;
  margin: 10px 0;
  font-size: 20px;
}

.char-info>span {
  color: #262626;
  font-size: 16px;
}

i {
  font-style: normal;
}

.found-characters a {
  cursor: auto;
}

.change-page-filter {
  display: flex;
  justify-content: center;

}

.change-page-filter button {
  width: 80px;
  height: 40px;
  margin: 20px;
}

.next {
  background-color: #4535aa;
  color: white;
  border: none;
  transition: all 0.2s ease;
}

.next:hover {
  background-color: #6556c7;
}

.preview {
  background-color: white;
  color: #4535aa;
  border: #4535aa 1px solid;
  transition: all 0.2s ease;
}

.preview:hover {
  background-color: #e3deff;
}

.status {
  color: #ffffff;
  height: 52px;
}

.gender {
  color: #ffe8e8;

  height: 52px;
}

.type {
  color: #e8e8ff;

  height: 52px;
}

.origin {
  color: #e8ffe8;

  height: 52px;
  overflow: hidden;
}

.location {
  color: #ffe8e8;

  height: 52px;
}