<div id="bar">
  <div id="content">
    <h1>Characters</h1>
    <div *ngIf="selectCharacter" id="info">
      <div class="big-img" [ngStyle]="{'background-image': 'url(' + selectCharacter.image + ')'}"></div>
      <div id="data">
        <h1>{{selectCharacter.name}} <div class="alive" *ngIf="selectCharacter.status==='Alive'">Alive <img src="../../assets/img/smug-svgrepo-com.svg"></div>
          <div class="dead" *ngIf="selectCharacter.status==='Dead'">Dead <img src="../../assets/img/dead-svgrepo-com.svg"></div>
          <div class="unknown" *ngIf="selectCharacter.status==='unknown'">Unknown <img src="../../assets/img/avatar-icon.svg"></div>
        </h1>
        <div>Species: {{selectCharacter.species}}</div>
        <div>Gender: {{selectCharacter.gender}}</div>
        <div>Origin: {{selectCharacter.origin?.name}}</div>
        <div>Location: {{selectCharacter.location?.name}}</div>
      </div>
      <div class="all-characters">
        <button class="arrow-left" (click)="changeCharactersPage('back')" *ngIf="actualPage > 1">
          <img src="../../assets/img/left-arrow-svgrepo-com.svg">
        </button>
        <ul class="burble-character">
          <li *ngFor="let character of showCharacters">
            <button class="image-button" (click)="showThisCharacter(character)">
              <img src="{{character.image}} ">
            </button>
          </li>
        </ul>
        <button class="arrow-right" (click)="changeCharactersPage('next')" *ngIf="showCharacters?.length === 9">
          <img src="../../assets/img/left-arrow-svgrepo-com.svg">
        </button>
      </div>
    </div>
  </div>
</div>